body{
    background: url("anipic2.jpg") no-repeat center;
    width:100%;
    height: 100%;
    background-size: cover;

   
}

.Header1{
    padding-left: 10px;
    background-color: rgb(185, 248, 248, 0.2);

}
.contact{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: crimson;
}
.Header1div{
    color: crimson;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.name{
    font-family:'Lucida Handwriting';
    color:rgb(0, 58, 134)
}

.RightFav{
    float:right;
    position: absolute;
    left: 700px;
    top: 90px;
    bottom: 0px;
    text-align: left;
    font-size: 16px;
}
.favson{
    text-decoration: none;
    color:rgb(148, 255, 8);
}

.fa:hover{
	opacity: 0.7;
	}
   
.fa {
    padding: 20px;
    font-size: 400px;
    text-align: left;
    top: 600px;
    right: 300px;
    text-decoration: none;
    margin: 5px 2px;
    position: absolute;
    width:40%;
}

.fa-facebook {
	background-color:black;
	color:white;
    padding: 20px;
}

	
.fa-twitter {
	background-color:black;
	color:white;
    padding: 20px;
}
	
.fa-instagram {
	background-color:black;
	color:white;
    padding: 20px;
}